/* Basic definitions for general tags (header, main, footer, etc.). */

@font-face {
  font-family: Ubuntu;
  src: url(../../assets/ubuntu-font-family-0.80/Ubuntu-R.ttf) format('truetype');
}

main * {
  margin: 0 auto;
}

main p, main .center {
  width: 100%;
  text-align: center;
  padding: 0.2rem;
}

main input[type=submit] {
  display: block;
  margin: 0 auto;
}

main table {
  padding-bottom: 0.5rem;
}

footer {
  position: absolute;
  margin-top: 3rem;
  bottom: inherit;
  left: 0;
  right: 0;
  width: 100%;
}

footer p {
  margin: 0.3rem;
}

/* Some custmizations, just meant to improve visuals */

a, a:link, a:visited, a:hover, a:active {
  color: white;
}

.data, #thread_info, .right {
  width: 90%;
}

.data th, .data td {
  border: 0.1rem white solid;
  padding: 0.2rem;
}

.index, .button {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  border: none;
  text-decoration: underline;
}

.right .button {
  float: right;
}

.right .button td {
  padding-right: 0.5rem;
}

textarea {
  width: 100%;
}

.has_columns td input {
  width: 100%;
}

.has_columns .info_column {
  width: 15%;
}
